.from-city{padding-right:5px;}
.product-name{font-size:18px;line-height:26px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp: 1;-webkit-box-orient: vertical;display:-webkit-box}
.mkt-name{line-height:22px; -webkit-line-clamp: 3}
.product-list-name{font-size:15px;color:#333}
.product-spotlight{font-size:12px;-webkit-box-orient: vertical;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp: 2;max-height:40px;word-break: break-all;line-height:16px;padding-top:7px;}
.product-list-container{background:rgb(230, 230, 233);}
.prices{float:right}
.prices>*{vertical-align:middle}
.price{font-size:22px; color:orange;margin-left:10px;}
.stars{line-height:14px;}
.mui-slider{height:200px;}
.departure{position:absolute;top:170px;z-index:1;color:white;font-size:12px;padding:2px 5px;left:10px;}
.features{font-size:12px;padding-left:15px;margin-top:5px;}

.line-typename{position:absolute;z-index:2;font-size:10px;top:8px;padding:0px 4px;background:#1DA179;color:white;opacity:0.8}
.scenic-taglist{line-height:12px;}
.scenic-taglist .mui-badge{border:1px solid #bbb;margin-left:5px;margin-bottom:10px;background:white}



.daytour-route-list{margin-top:10px;}
.daytour-route-list .route-item-wrap {
    padding-left: 10px;
    margin-left: 40px
}

.daytour-route-list .route-item {
    padding: 0 0 19px;
    font-size: 14px
}


.daytour-route-list .route-item label:before,.daytour-route-list .default .route-item label:before {
    width: 7px;
    height: 7px;
    left: auto;
    right: 0;
    border: 1px solid #71c13d
}

.daytour-route-list .route-item label {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 21px;
    padding-right: 9px;
    overflow: hidden;
    margin-left: -70px;
    color: #333;
    font-size: 14px;
    word-break: break-all
}
.daytour-title{left:85px;font-weight:normal;position:absolute;}
.daytour-index{background-color:#1DA179;font-size:16px;color:white;padding: 2px 4px;margin-left: -15px;opacity:0.7}
.daytour-desc{margin-left:70px;font-size:12px;color:gray;margin-top:5px;}
.daytour-food dd,.daytour-hotel dd{margin-bottom:5px;margin-left:70px;font-size:14px;    position: relative;
    top: -20px;}
.daytour-food,.daytour-hotel{margin-bottom:-10px}
.daytour-food dt .mui-icon-extra,.daytour-hotel dt .mui-icon-extra{font-size: 20px;margin-right:2px;color:gray;margin-top:0}
.daytour-food dt .mui-icon-extra-cold{color:#bdbaba}
.daytour-route-list .route-content {
    color:#333;
    line-height: 20px
}
.route-content .mui-badge{margin-right:5px;margin-top:5px;}
.route-item .item-tip {
    font-size: 12px;
    color: #999
}

.route-item .item-desc {
    font-size: 14px;
    color: gray;
    text-align: justify
}

.route-item .item-name {
    font-weight: bold;
    color:#333
}




.route-header {
    height: 40px;
    line-height: 40px;
    margin: -10px -15px 10px -35px;
    text-align: center;
    font-size: 14px
}

.route-list {
    padding: 10px 15px 0 20px
}

.route-title {
    position: relative;
    margin-bottom: 7px;
    font-size: 13px;
    color: #099fde
}

.route-title:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #099fde;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}


.route-item {
    padding: 0 0 14px;
    margin-top: -7px;
    position: relative;
    font-size: 14px;
    line-height: 22px
}

.route-item:before {
    content:'';
    position: absolute;
    left: -27px;
    top: 3px;
    bottom: 0;
    display: block;
    width: 1px;
    background-color: #71c13d;
}

.route-item:first-child:before {
    top: 7px;
    bottom: 0
}

.route-item:last-child:before {
    height: 0
}

.route-item label {
    display: block;
    color: #099fde
}

.route-item label:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #099fde;
    position: absolute;
    left: -20px;
    top: 7px;
}
.mui-table-view-cell>.modify-date{margin-left:10px!important;display:block;position:static}
.modify-date-btn{padding: 3px 7px;background:#1DA179;color:white;border-radius:2px;font-size:12px;border:1px solid #06845e}
.fill-required{background:rgb(255, 254, 246)}
.fill-required input{background:transparent;border:none}

